* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.nav{
  border-radius: 4px;
  max-width: 100%;
  display: flex;
  background-color: black;
}

.nav__titulo {
  font-size: 35px;
  margin: auto;
  color: white;
  text-shadow: 0 0.1em 0.2em violet;
  letter-spacing: 3px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(110, 35, 88);
}

img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
 
}

h1 {
  color: rgb(225, 76, 65);
  text-transform: uppercase;
  font-weight: 500px;
  font-size: 30px;
  margin: 0;
}

#cesta-carrito {
  border: none;
  color: rgb(225, 76, 65);
  font-size: 30px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all .3s;
}

#cesta-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(225, 76, 65);
}

#cesta-carrito:focus {
  outline: none;
}

#producto-contenedor {
  display: grid;
  gap: 1rem;
  max-width: 60rem;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  line-height: 1.8;
}

.card {
  max-width: 30%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  background-color: rgb(211, 155, 172);
  margin-top: 1rem;
  border-radius: 1rem;
  border: 2px black solid;
  font-size: 25px;
  box-shadow: 0 7px 8px 0 black;
  height: fit-content;
  text-align: center;
}

.boton:hover{
  color: white;
  background-color: rgb(48, 31, 124);
}

select {
  display: inline;
  text-align: center;
  border: 1px solid lightskyblue;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: rgb(225, 76, 65);
  padding-bottom: 5px;
}

.modal-carrito #btn-cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(225, 76, 65) !important;
  border: none;
  background-color: white;
}

.modal-carrito #btn-cerrar-carrito:hover {
  cursor: pointer;
}

.modal-carrito #btn-cerrar-carrito:focus {
  outline: none;
}

.modal-carrito .producto-precio {
  padding-top: 10px;
}

.card .card-image .card-title {
  color: rgb(225, 76, 65);
  position: unset
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid rgb(225, 76, 65);
}

.boton-eliminar {
  background-color: white;
  color: #ff6961;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}

#cerrar-carrito, #limpiar-carrito {
  font-family: roboto sans-serif;
  font-size: 1.3rem;
  color: white;
  border: 2px solid rgba(255, 252, 252, 0.808);
 border-radius: 1rem;
  padding: 1rem;
  transition: all 600ms;
 background-color: rgb(224, 41, 41);
  text-shadow: 0.1em 0.2em 0.3em rgba(0, 0, 0, 0.452);
  letter-spacing: 0.08rem;
}

#cerrar-carrito:hover, #limpiar-carrito:hover {
  background-image: linear-gradient(
      -60deg,
      transparent, transparent 40%,
      #ffffff44 40%, #ffffff44 60%,
      transparent 60%, transparent 100%
  );
  background-size: 250% 140%;
  background-repeat: no-repeat;
  background-position-x: 150%;
}


/* FOOTER */
.footer {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.822);
  
}

.footer__derechos {
  color: white;
  font-size: 20px;
  text-align: right;
  padding: 2px 1px 10px;
  text-align: center;
  letter-spacing: 1px;

}